---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import LandingPageHeroReact from "../components/React/Landing";
import userConfig from "../config/config.json";
import Analytics from "@vercel/analytics/astro";
export const prerender = true;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={userConfig.SITE_TITLE}
      description={userConfig.SITE_DESCRIPTION}
    />
    <Analytics />
  </head>
  <body>
    <Header />
    <main>
      <LandingPageHeroReact
        imageUrl={userConfig.landingPageHeroImages}
        LandingPageIntroText={userConfig.LandingPageIntroText}
        LandingPageSecondLineText={userConfig.LandingPageSecondLineText}
        client:load
      />
    </main>
    <Footer />
  </body>
</html>
