---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import LandingPageHeroReact from "../components/React/Home/Landing";
import userConfig from "../config/config.json";
import Analytics from "@vercel/analytics/astro";
import WhyChooseUS from "../components/React/Home/WhyChooseUS";
import Services from "../components/React/Services/Services";
import ContactForm from "../components/React/Home/Contact";
import LastestBlog from "../components/React/Home/LatestBlog";
import FAQ from "../components/React/Home/FAQ";
import PricingPage from "../components/React/Pricing/PricingPackage";
import FeatureFlag from "../config/featureflag.json";

try {
  if (!FeatureFlag.HomePage) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}

export const prerender = true;

import { getCollection } from "astro:content";
const rawPosts = await getCollection("blog");

const posts = rawPosts
  .filter((post) => !post.data.draft)
  .map((post) => ({
    id: post.id,
    title: post.data.title,
    description: post.data.description,
    pubDate: new Date(post.data.pubDate),
    tags: post.data.tags || [],
  }))
  .sort((a, b) => b.pubDate.getTime() - a.pubDate.getTime());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={userConfig.SITE_TITLE}
      description={userConfig.SITE_DESCRIPTION}
    />
    <Analytics />
  </head>
  <body>
    <Header />
    <main class="bg-dracula-bg">
      <div class="max-w-10xl mx-auto px-6">
        <section>
          <!-- Landing Page Hero -->
          {
            FeatureFlag.HomePageComponent[0].LandingPage && (
              <LandingPageHeroReact
                imageUrl={userConfig.landingPageHeroImages}
                LandingPageIntroText={userConfig.LandingPageIntroText}
                LandingPageSecondLineText={userConfig.LandingPageSecondLineText}
                client:load
              />
            )
          }
        </section>
        <section>
          <!-- Why Choose Us section -->
          {
            FeatureFlag.HomePageComponent[0].WhyChooseUs && (
              <WhyChooseUS reasons={userConfig.WhyChooseUs} client:load />
            )
          }
        </section>
        <section>
          <!-- Services Section -->
          <Services services={userConfig.services} client:load />
        </section>
        <section>
          <!-- Top Case Studies section AKA Blogs -->
          {FeatureFlag.CaseLaw && <LastestBlog posts={posts} client:load />}
        </section>
        <section>
          <!-- FAQ section -->
          {
            FeatureFlag.HomePageComponent[0].FAQ && (
              <FAQ faqData={userConfig.faq} client:load />
            )
          }
        </section>
        <section>
          {
            FeatureFlag.Pricing && (
              <PricingPage pricingPlans={userConfig.pricingPlans} client:load />
            )
          }
        </section>
        <!-- Call to action section -->
        {
          FeatureFlag.HomePageComponent[0]["Contact-US"] && (
            <ContactForm offices={userConfig.offices} client:load />
          )
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
